<div class="row full-width marginless-row">
    <div class="col-md-12 full-width">
        <div class="text-center view-header dark-header">
            <b>Categories</b><notify-message></notify-message>
        </div>
        <div class="view-content">
            <div class="row marginless-row tmargin-40">
                <div class="col-md-6 items-container">
                    <div class="blue-header">
                        All Categories
                    </div>
                    <ul class="ul-undecorated">
                        <li class="vertical-list-item" ng-repeat="x in categories">
                            <span><b>{{x.name}}</b></span>
                            <span style="float:right">
                                <a class="helper-link" ng-click="remove(x.id)" href="javascript:void(0)">Remove</a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 items-container">
                    <div class="blue-header">
                        Add Category
                    </div>
                    <div class="form-element">
                        <label>Category</label>
                        <input type="text" ng-model="newCategory.name" placeholder="New Category name"/>
                    </div>
                    <div class="form-element">
                        <label>Description</label>
                        <textarea ng-model="newCategory.desription"></textarea>
                    </div>
                    <div class="form-element text-center">
                        <button class="btn btn-danger long-button" ng-click="addCategory()">Add Category</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
