<div class="row full-width marginless-row">
    <div class="col-md-12 full-width">
        <div class="text-center view-header dark-header">
            <b>Expenses</b><notify-message></notify-message>
        </div>
        <div class="view-content">
            <div class="row marginless-row tmargin-40">
                <div class="col-md-4 items-container">
                    <div class="blue-header">
                        Top Expenses
                    </div>
                    <ul class="ul-undecorated">
                        <li class="vertical-list-item" ng-repeat="x in expenses">
                            <span><b>{{x.itemname}} (NRs.{{x.cost}}) {{x.date | date: 'dd/MM/yyyy'}}</b></span>
                            <span style="float:right">
                                <a class="helper-link" href="javascript:void(0)" ng-click="remove(x.id)">Remove</a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 items-container">
                    <div class="blue-header">
                        Recent Expenses
                    </div>
                    <ul class="ul-undecorated">
                        <li class="vertical-list-item" ng-repeat="x in expenses">
                            <span>
                                <a style="text-decoration:none" href="javascript:void(0)" ng-click="setEditMode(x.id)" title="{{x.description}}">
                                    {{x.itemname}} (NRs.{{x.cost}})
                                </a>
                                <b> {{x.date | date: 'MMM dd yyyy'}}</b>
                            </span>
                            <span style="float:right">
                                <a class="helper-link" ng-click="remove(x.id)"  href="javascript:void(0)">Remove</a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 items-container">
                    <div class="blue-header" id="editheader">
                        <span ng-show="!editMode">Add Expense</span>
                        <span ng-show="editMode"><b>Update Expense</b></span>
                    </div>
                    <div class="form-element">
                        <label>Item</label>
                        <select id="item-select" ng-change="showid()" ng-model="newExpense.item">
                            <option value="" selected="true" disabled>Pick an Item</option>
                            <option value="{{item.id}}" ng-repeat="item in items">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-element">
                        <label>Cost</label>
                        <input type="number" step="0.01" min="0" ng-model="newExpense.cost" placeholder="Cost for the item"/>
                    </div>
                    <div class="form-element">
                        <label>Date</label>
                        <input type="date" ng-model="newExpense.date" placeholder="yyyy-mm-dd"/>
                    </div>
                    <div class="form-element">
                        <label>Description</label>
                        <textarea ng-model="newExpense.description"></textarea>
                    </div>
                    <div class="form-element text-center">
                        <button class="btn btn-success long-button" ng-click="addExpense()">
                            <span ng-show="!editMode">Add Expense</span>
                            <span ng-show="editMode">
                                <b>Update Expense</b><br>
                            </span>
                        </button>
                    </div>
                    <div class="form-element text-center" ng-show="editMode">
                        <button class="btn btn-danger long-button" ng-click="cancelEdit()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
