<div class="row full-width marginless-row">
    <div class="col-md-12 full-width">
        <div class="text-center view-header dark-header">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"<b>Feedback</b></div>
                <div class="col-md-4"></div>
            </div>
            <notify-message></notify-message>
        </div>
        <div class="view-content">
            <div class="row marginless-row tmargin-40">
                <div class="col-md-6 items-container">
                    <div class="blue-header">
                        Leave a Feedback
                    </div>
                    <div class="form-element">
                        <label>Your Valuable Words</label>
                        <textarea ng-model="feedback.content"></textarea>
                    </div>
                    <div class="form-element text-center">
                        <button class="btn btn-success long-button" ng-click="addFeedback()">Submit Feedback</button>
                    </div>
                </div>
                <div class="col-md-6 items-container">
                    <div class="blue-header">
                        &nbsp;
                    </div>
                    <div class="form-element">
                        &nbsp;
                    </div>
                    <div class="form-element">
                        <label>
                            <span style="font-size:1.6em">Your feedback means a lot!! Thank you.</span>
                        </label>
                    </div>
                    <div class="form-element">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
