<div class="row full-width">
    <div class="col-md-12 text-center full-width">
        <div class="view-header dark-header">
            Welcome!!
        </div>
        <div class="view-content">
            <div class="row marginless-row tmargin-40">
                <div class="col-md-6">
                    <nvd3 options="options" data="data"></nvd3>
                </div>
                <div class="col-md-6">
                    <nvd3 options="options" data="data"></nvd3>
                </div>
            </div>
        </div>
    </div>
</div>
