<div class="row full-width marginless-row">
    <div class="col-md-12 full-width">
        <div class="text-center view-header dark-header">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"<b>Categories</b></div>
                <div class="col-md-4"><org-selection/></div>
            </div>
            <notify-message></notify-message>
        </div>
        <div class="view-content">
            <div class="row marginless-row tmargin-40">
                <div class="col-md-6 items-container">
                    <div class="blue-header">
                        Change Settings
                    </div>
                    <div class="form-element">
                        <label>Org/Individual </label>
                        <input type="text" ng-model="updateOrg.name" placeholder="Organization name" ng-disabled="!edit"/>
                        <button type="button" ng-show="!edit" class="btn btn-success" ng-click="edit=true">Edit</button>
                        <button type="button" ng-show="edit" class="btn btn-success short-button" ng-click="update()"><small>Update</small></button>
                        <button type="button" ng-show="edit" class="btn btn-danger short-button" ng-click="cancelEdit()"><small>Cancel</small></button>
                    </div>
                    <div class="blue-header">
                        Users
                    </div>
                    <div class="form-element">
                        <ul class="ul-undecorated">
                            <li class="vertical-list-item" ng-repeat="user in orgUsers">{{user.username}} &nbsp;&nbsp;
                                <a href="javascript:void(0)" ng-show="edit && user.id!=currentUser.id"> Remove</a>
                            </li>
                        </ul>
                    </div>
                    <div class="form-element" ng-show="edit">
                        <label>Add User</label>
                        <input type="text" placeholder="Type in username to search" ng-disabled="!edit"/>
                        <div class="search-list" ng-show="searchUserList.length>0" style="background-color:#eee;border:solid 2px #999">
                            <div class="form-element">
                                <b>Relevant Users</b>
                            </div>
                            <div class="form-element" ng-repeat="user in searchUserList">
                                {{user}}
                            </div>
                            <div class="form-element text-center">
                                <buton class="btn btn-danger long-button" ng-click="searchUserList=[]">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-element text-center" ng-show="edit">
                        <button class="btn btn-success long-button" ng-click="update()">Update</button>
                    </div>
                    <div class="form-element text-center" ng-show="edit">
                        <button class="btn btn-danger long-button" ng-click="cancelEdit()">Cancel</button>
                    </div>
                    <div ng-show="!edit" class="form-element text-center">
                        <button class="btn btn-info long-button" ng-click="setEditMode()">Edit</button>
                    </div>
                </div>
                <div class="col-md-6 items-container">
                    <div class="blue-header">
                        Note
                    </div>
                    <div class="form-element">
                        <p>
                            Using <i>Expenses</i> you can not only track you personal expenses, you can do so for any number of
                            entities(individuals, your family or your organization).
                        </p>
                        <p>
                            Furthermore, you can add users to collaborate in tracking expenses as well.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
