<div class="row full-width marginless-row">
    <div class="col-md-12 full-width">
        <div class="text-center view-header dark-header">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"<b>Categories</b></div>
                <div class="col-md-4"><org-selection/></div>
            </div>
            <notify-message></notify-message>
        </div>
        <div class="view-content">
            <div class="row marginless-row tmargin-40">
                <div class="col-md-6 items-container">
                    <div class="blue-header">
                        Change Settings
                        <button style="float:right" type="button" ng-show="!edit" class="btn btn-success" ng-click="edit=true">Edit</button>
                    </div>
                    <div class="form-element">
                        <label>Org/Individual </label>
                        <input type="text" ng-model="updateOrg.name" placeholder="Organization name" ng-disabled="!edit"/>
                        <button type="button" ng-show="edit" class="btn btn-success short-button" ng-click="update()"><small>Update</small></button>
                        <button type="button" ng-show="edit" class="btn btn-danger short-button" ng-click="cancelEdit()"><small>Cancel</small></button>
                    </div>
                    <div class="blue-header">
                        <span>Users</span>
                        <button ng-show="!editUser" style="float:right" class="btn btn-success" ng-click="editUser=true">Add</button>
                    </div>
                    <div class="form-element">
                        <ul class="ul-undecorated">
                            <li class="vertical-list-item" ng-repeat="user in orgUsers"><b>{{user.username}} &nbsp;&nbsp;</b>
                                <a href="javascript:void(0)" ng-click="removeUser(user)" ng-show="user.id!=currentUser.id"> Remove</a>
                            </li>
                        </ul>
                    </div>
                    <div class="form-element" ng-show="editUser">
                        <label>Add User</label>
                        <input type="text" ng-model="searchText" placeholder="Type in username to search" ng-change="loadUsers()"/>
                        <div class="search-list" ng-show="searchUserList.length>0" style="background-color:#eee;border:solid 2px #999">
                            <div class="form-element">
                                <b>Search Users Result</b>
                            </div>
                            <div class="form-element" style="background-color:#ccc" ng-repeat="user in searchUserList">
                                <span>{{user.username}}<span>
                                <span style="float:right">
                                    <a href="javascript:void(0)" ng-click="addUser(user)">Add</a>
                                </span>
                            </div>
                            <div class="form-element text-center">
                                <buton class="btn btn-danger long-button" ng-click="searchUserList=[]">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-element text-center" ng-show="editUser">
                        <button class="btn btn-danger long-button" ng-click="cancelEditUser()">Cancel</button>
                    </div>
                    <div ng-show="!editUser" class="form-element text-center">
                    </div>
                </div>
                <div class="col-md-6 items-container">
                    <div class="blue-header">
                        <span>All of Your Organizations</span>
                        <button class="btn btn-success" style="float:right" ng-show="!addOrg" ng-click="addOrg=true">Add</button>
                    </div>
                    <div class="form-element">
                        <ul class="ul-undecorated">
                            <li class="vertical-list-item" ng-repeat="org in orgs">{{org.name}}</li>
                        </ul>
                    </div>
                    <div class="form-element" ng-show="addOrg">
                        <label>Org Name</label>
                        <input type="text" ng-model="newOrg.name"/>
                    </div>
                    <div class="form-element" ng-show="addOrg">
                        <button class="btn btn-success" ng-disabled="newOrg.name.trim()==''" ng-click="addNewOrg()">Add Organization</button>&nbsp;
                        <button class="btn btn-danger" ng-click="addOrg=false">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
