nav {
    height: 7vh;
    margin-bottom: 0px !important;
}

#nav-group-select {
    background: transparent;
    color: white;
    height: 4rem;
}

h4 {
    font-weight: 700;
}

#main-content {
    padding-top: 1rem;
    min-height: 86vh;
}

#dropdown-groups {
    padding-left: 0.1rem;
}

#dropdown-groups a {
    text-decoration: none;
    color: #777;
}

#dropdown-groups > .dropdown-item {
    padding: 0.6rem;
    padding-top: 0px;
    border-top: solid 1px #eee;
}

#dropdown-groups .dropdown-item:hover {
    background: #eee !important;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    height: 7vh;
}

#loading-mask {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 2rem;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #fffe;
    display: none;
    align-items: center;
    justify-content: center;
}

.large-screen {
    display: flex;
}

.footer-menu-title {
    max-width: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small-screen {
    display: none;
}

@media only screen and (max-width: 600px) {
    .small-screen {
        display: flex !important;
    }

    .dropdown-menu {
        left: -50px;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    #main-content {
        height: 93vh;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-top: 1rem;
    }

    nav {
        display: none;
    }

    .large-screen {
        display: none;
    }
    .footer-menu {
        display: flex;
        text-decoration: none;
        color: white;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0px 3px;
        height: 100%
    }

    .footer-active {
        background: white;
        color: black;
    }
}
