{% load staticfiles%}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Vollkorn">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%static 'css/custom.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{%static 'css/nv.d3.css'%}"/>
    <title>Daily expenses</title>
    <script data-main="{% static 'config.js' %}" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div id="topbar" class="row">
            <div class="col-md-2">
            <span id="site-title">Expenses</span>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
            <span id="site-subtitle">Clean and easy expenses tracking..</span>
            </div>
        </div>
        <div id="menubar" class="row">
            <div class="col-md-4"></div>
            <div class="col-md-5">
                {% if request.user.is_authenticated %}
                <ul class="horizontal-menu">
                    <li><a href="#/" id="home-menu">Home</a></li>
                    <li><a href="#/categories"><span style="font-size:0.4em">Categories</span></a></li>
                    <li><a href="#/expenses"><span style="font-size:0.4em">Expenses</span></a></li>
                    <li><a href="#/incomes"><span style="font-size:0.4em">Incomes</span></a></li>
                    <li><a href="#/settings"><span style="font-size:0.5em">Settings</span></a></li>
                    <li><a href="#/feedback"><span style="font-size:0.5em">Feedback</span></a></li>
                </ul>
                {% endif %}
            </div>
            <div class="col-md-3 text-right">
                {% if request.user.is_authenticated %}
                <b><i>{{request.user}}</i></b>(<a class="undecorated" href="expenses/logout/">Sign out</a>)
                {% endif %}
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <div class="row dark-header">
            <div class="col-md-12 text-center">
                <span style="color:white">Copyright 2017</span>
            </div>
        </div>

    </div>
    {% csrf_token %}
</body>
{% block scripts %}
{% endblock %}
</html>
