{% load staticfiles%}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine+Lato+Vollkorn">
    <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{%static 'css/custom.css'%}"/>
    <title>Daily expenses</title>
    <script data-main="{% static 'config.js' %}" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
</body>
{% block scripts %}
{% endblock %}
</html>
