{% extends "expenses/base.html" %}

{% block content %}
    <h1>HELLO THERE</h1>
    <div class="error">
        {{expense_form.non_field_errors}}
    </div>
    <form method="post" action="{% url 'index'%}" onsubmit="return process_form();">
        {% csrf_token %}
        {{expense_form.date.label_tag}}{{expense_form.date}}
        <br><br>
        <div id='categories'>
        {{expense_form.category.label_tag}}{{expense_form.category}}
        </div>
        <br>
        {{expense_form.total.label_tag}}{{expense_form.total}}
        <br><br>
        {{expense_form.comment.label_tag}}{{expense_form.comment}}
        <br><br>
        <input type="hidden" name="json_string" value="">
        <input type="submit" vlaue="Add Expense" />
    </form>
    <br>
    Or <a href="/expenses/view/"> view details</a><br>
    Or <a href="/expenses/add-items/"> add new items</a><br>

{% endblock %}

{% block scripts %}
<script>
    var g_cats_items = JSON.parse('{{cats_items|safe}}');
    load();
</script>
{% endblock %}
