{% extends "expenses/base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <div class="view-header dark-header">
            Login to proceed
        </div>
        <div class="view-content">
            <br/><br/><br/>
            <div class="irow">
                <button onclick="location='/login/facebook'" class="btn btn-primary long-button social-button"><b>Login with Facebook</b></button>
            </div>
            <div class="irow">
                <button class="btn btn-info long-button social-button"><b>Login with Twitter</b></button>
            </div>
            <div class="irow">
                <button class="btn btn-danger long-button social-button"><b>Login with Google</b></button>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}
