{% extends "expenses/base.html" %}
{% block content %}
    <h2> Details </h2>
    {# create table #}
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Date</th>
            {% for category in categories %}
                <th>{{category}}</th>
            {% endfor %}
                <th> Total |- </th>
        </tr>
        </thead>
        {% for x in dates_expenses %}
        <tr>
            <td class="date" id="{{x.0.1}}">{{x.0.0}}</td>
            {% for val in x.1 %}
            <td>{{val}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <div id="comment">
    </div>

    return to <a href="{% url 'index'%}">main page</a>
{% endblock %}

{% block scripts %}
<script>
    var g_x=0;
    var g_y=0;

    create_comment_box();
    document.onmousemove =  function(event){ g_x = event.clientX;
    g_y = event.clientY;
    };

    // on mouseover function
    $(".date").on("mouseover", function(e) { 

                var id = this.id;
                // send post request
                $.ajax({
                    "type":"POST",
                    "url":"{% url 'comment' %}",
                    "data":{"date":this.id, csrfmiddlewaretoken:'{{csrf_token}}'}
                })
                .done(function(msg){
                    if(msg=='***' || msg.trim()=='')
                        set_comment('No comment for the day', id);
                    else
                        set_comment(msg, id);
                });
    });

    // onmouse out function
    $(".date").on("mouseout", function(e) {
        $("#comment_box").hide();
    });

    function set_comment(comment, id)
    {
        var element = document.getElementById(id);
        var rect = element.getBoundingClientRect();
        var width = rect.right - rect.left;
        var height = rect.bottom- rect.top;
        g_x = rect.left+ width;
        g_y = rect.top+height;
        $("#comment_box").text('');
        $("#comment_box").append('<b><u>Comment:</u> </b><br>');
        $("#comment_box").append(comment);
        $("#comment_box").css("left", g_x.toString());
        $("#comment_box").css("top", g_y.toString());
        $("#comment_box").show();
    }

</script>
{% endblock %}
