/*
 * HOME PAGE AND INDEX
 */

body {
    background-color: #eeeeee;
    font-family:Avro;
    overflow-x:hidden;
    overflow-y:scroll;
}

#topbar {
    height:90px;
    background-color: #222226;
    color:white;
    padding-left:1%;
}
#menubar {
    min-height: 36px;
    max-height: 36px;
    background-color: #2980b9;
}

#site-title {
    font-family: Avro;
    font-weight: bold;
    font-size: 3.3em;
    line-height:90px;
}

.block-item {
}

ul.horizontal-menu {
    margin-top:-10px !important;
    list-style-type:none;
    margin:0;
    overflow:hidden;
    vertical-align:middle;
    line-height:35px;
}
.horizontal-menu li {
    padding:0px;
    float:left;
    width:100px;
}

.ul-undecorated {
    maargin-top:-10px !important;
    list-style-type:none;
    margin:0;
    overflow:hidden;
    vertical-align:middle;
    line-height:35px;
}

.horizontal-menu li a {
    /*display: inline-block;*/
    color: #eee;
    text-align: center;
    padding:10px 10px;
    margin-bottom:10px;
    text-decoration: none;
    font-size:1.2em;
    font-family: Avro;
    transition: 0.3s;
}
.horizontal-menu li a:hover {
    background-color:#222226;/*#173650;*/
}

#site-subtitle {
    font-family:Avro;
    color: #ccc;
    line-height:100px;
    font-size: 1.8em;
}

.bottom-padding-0{
    padding-bottom: 0px !important;
}

.view-content {
    min-height:460px;
    border: solid 1px #999;
}

.dark-header {
    background-color: #222226;
    font-size:1.3em;
    color:#eee;
    padding:10px;
}
.view-header {
    min-height:50px;
    max-height:50px;
}
.blue-header {
    background-color: #2980b9;
    font-size:1.3em;
    color:#eee;
    padding:10px;
}

.vertical-list-item {
    margin-left:-40px;
    padding:5px 15px;
    background-color:white;
    border-bottom: solid 1px #eee;
}

.full-width {
    padding-left:0px !important;
    padding-right:0px !important;
}

.undecorated {
    text-decoration: none;
    font-size:0.9em;
    color:#eee;
}
.undecorated:hover {
    color:#ccc;
    text-decoration:none;
}

.items-container {
    padding: 10px !important;
}

.items-box {
    border: solid 1px #777;
}

.marginless-row {
    margin-left:0px !important;
    margin-right:0px;
    padding:0px;
}

.helper-link {
    font-size: 0.9em;
    font-weight:bold;
    text-decoration: none;
}
.helper-link:hover {
    text-decoration: none;
}

.form-element {
    padding: 10px 15px;
    background-color:white;
    border-bottom: solid 1px #eee;
}
.form-element p {
    font-size: 1.2em;
    padding:5px 20px;
}

.form-element label {
    min-width:120px;
}

.form-element select {
    background:#eee;
    border:solid 1px #eee;;
    height:35px;
    width:60%;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.fancy-select {
    font-family:Vollkorn;
    font-size:0.9em;
    height:30px;
    background:transparent;
    color:white;
    border:none;
    border-bottom:solid 1px #888;
    -moz-appearance:none;
    -webkit-appearance:none;
}

.form-element input {
    background-color: #eee;
    border:none;
    height:35px;
    width:60%;
    padding-left:5px;
}
.form-element input:placeholder-shown {
    color: #999;
    font-size:1.1em;
}
.form-element textarea{
    background-color: #eee;
    border:none;
    height:80px;
    width:60%;
    padding:5px;
}

.tmargin-40 {
    margin-top:40px;
}

.notification-msg {
    padding:10px;
    font-family:Vollkorn;
    font-size:1.2em;
    position: fixed;
    background-color:#fff;
    z-index:5;
    top: 20px;
    right:0px;
    border-radius: 4px;
    border: solid 2px #999;
}

.search-list {
    position:absolute;
    horizontal-align:right;
    left:100px;
    z-index:5;
    width:80%;
}

/*
 * LOGIN PAGE
 */

.long-button {
    width:95%;
}
.social-button {
    height:40px;
    margin-bottom: 40px;
}
