<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <div class="view-header">
            Login to proceed
        </div>
        <div class="view-content">
            <br/><br/><br/>
            <div class="row">
                <button onclick="location='login/facebook'" class="btn btn-primary long-button"><b>Login with Facebook</b></button>
            </div>
            <div class="row">
                <button class="btn btn-info long-button"><b>Login with Twitter</b></button>
            </div>
            <div class="row">
                <button class="btn btn-danger long-button"><b>Login with Google</b></button>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
